/* @import '~materialize-css/dist/css/materialize.min.css'; */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

header {
  padding: 12px;
}

footer {
  padding: 12px;
  margin-top: 12px;
}